@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@for (var i = 0; i < 10; i++)
{
    <div class="mt-4 mb-4">
        <div class="mt-2 mb-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus sit amet neque ac porttitor. Fusce
            eget pellentesque tellus. Nulla ullamcorper lobortis massa, vel venenatis ante sodales a. Nulla quis elit
            tincidunt justo pretium consequat eu ac turpis. Vestibulum nec porta arcu. Pellentesque vel risus vel magna
            lacinia luctus vitae et massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum
            ornare ante ac velit tincidunt, at tempus nunc egestas. Pellentesque facilisis porttitor turpis, nec dictum
            nisi fringilla in.
        </div>
        <div class="mt-2 mb-2">
            Vivamus sit amet diam eros. Morbi sit amet facilisis nisi, eget aliquam magna. Integer rhoncus quis sapien
            quis scelerisque. Cras faucibus a nibh at eleifend. Ut imperdiet venenatis metus congue cursus. Praesent
            bibendum dolor in enim pharetra, et dictum risus feugiat. Aliquam tristique bibendum arcu quis consectetur.
            Quisque scelerisque pellentesque neque sed lacinia.
        </div>
        <div class="mt-2 mb-2">
            Vivamus fermentum lacus elit, malesuada auctor nulla sollicitudin quis. Etiam sed varius magna. Sed gravida,
            felis sed lobortis venenatis, diam orci dignissim sem, et malesuada urna ex eu elit. Vestibulum tempus, nisi
            sit amet gravida porta, enim ligula lacinia leo, vitae sollicitudin justo mi at est. Ut bibendum accumsan
            arcu. Aenean feugiat erat nec mollis vestibulum. Nullam feugiat pretium lacus, quis lobortis neque
            scelerisque at. Ut tincidunt est non tempus consectetur. Nunc ipsum metus, ullamcorper non mi non, placerat
            tincidunt nunc. Phasellus tempus condimentum nulla, vitae laoreet magna suscipit sit amet. Curabitur mollis
            nunc ac mi eleifend eleifend. Sed auctor odio accumsan massa fermentum rhoncus. Quisque eu turpis finibus,
            dignissim mauris sit amet, cursus purus. Vivamus at tincidunt mauris. Nunc vel velit accumsan, volutpat
            dolor sed, pretium tortor.
        </div>
        <div class="mt-2 mb-2">
            Duis vel massa tempus, tempus velit vitae, lacinia nunc. Maecenas varius erat sapien, non volutpat massa
            hendrerit et. Aenean at ante interdum, consectetur nunc in, fringilla sem. Integer hendrerit, elit at
            vehicula dapibus, lorem tellus efficitur elit, ac porttitor nunc dui eget ligula. Vestibulum id libero
            mollis, auctor libero ut, varius velit. Quisque hendrerit, mi quis sagittis imperdiet, ipsum lectus rhoncus
            ante, laoreet euismod nulla massa vitae ex. Duis nec arcu non turpis rutrum volutpat et eget lorem.
            Suspendisse metus massa, aliquam ac risus sed, efficitur sollicitudin quam. Pellentesque tincidunt dignissim
            ex sed pulvinar. Nulla odio nisi, bibendum ac condimentum eget, fermentum eu metus. Etiam lectus tortor,
            euismod commodo dolor sed, facilisis ornare nunc. Maecenas ultrices odio in erat pharetra, a malesuada massa
            interdum. Etiam nibh lorem, mollis ut leo sed, pharetra auctor quam. Donec congue fermentum ex, id tristique
            tortor tincidunt semper.
        </div>
        <div class="mt-2 mb-2">
            Vestibulum nec vehicula ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos. Integer orci libero, interdum vitae nunc ut, auctor vehicula ligula. Vivamus sem enim,
            vulputate ac aliquet et, mollis id dolor. Nam varius ex eu aliquam vehicula. Sed ullamcorper pretium elit
            nec sollicitudin. Pellentesque neque neque, porttitor sed nisl et, venenatis sollicitudin sem. Vestibulum
            placerat interdum aliquam.
        </div>
    </div>
}


